@page
@model ReportesModel
@{
    ViewData["Title"] = "Reportes (Alumnos)";
}
<h1>@ViewData["Title"]</h1>
<br>
@if(Model.errorMessage.Length > 0) {
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>@Model.errorMessage</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Cerrar"></button>
</div>
}

@if(Model.successMessage.Length > 0) {
<div class="row mb-3">
    <div class="col-sm-9">
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>@Model.successMessage</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Cerrar"></button>
        </div>
    </div>
</div>
}

<form method="POST">
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Cod. Alumno</label>
        <div class="col-sm-3">
            <input type="text" name="alumno" value="@Model.reporte.alumnoId" class="form-control">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Periodo</label>
        <div class="col-sm-3">
            <input type="text" name="periodo" value="@Model.reporte.periodo" class="form-control">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Fecha Inicial</label>
        <div class="col-sm-3">
            <input type="text" name="fechaInicial" value="@Model.reporte.fechaInicial" class="form-control">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Fecha Final</label>
        <div class="col-sm-3">
            <input type="text" name="fechaFinal" value="@Model.reporte.fechaFinal" class="form-control">
        </div>
        <!-- <div class="offset-sm-3 col-sm-3 d-grid"> -->
        <div class="col-sm-3 d-grid">
            <button type="submit" class="btn btn-primary">Buscar</button>
        </div>
    </div>
</form>

<h2>Lista</h2>
<table class="table">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Estado</th>
            <th>Periodo</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.listaReportes)
        {
        <tr>
            <td>@item.fecha</td>
            <td>@item.estado</td>
            <td>@item.periodo</td>
        </tr>
        }
    </tbody>
</table>

