@page
@model AbrirCuposModel
@{
    ViewData["Title"] = "Abrir Cupos (Administradores)";
}
<div>
    <h1>
        @ViewData["Title"]
    </h1>
    <a class="btn btn-primary" href="/Admins/abrir_inscripciones">Abrir Inscripciones para Cupos</a>
</div>
<br>

<h2>Lista de Cupados</h2>
<!-- TODO -->
<a class="btn btn-primary btn-sm" href="/Admins/aniadir_cupo">Añadir</a>
<table class="table">
    <thead>
        <tr>
            <th>Alumno</th>
            <th>Semestre</th>
            <th>Apellidos</th>
            <th>Nombres</th>
            <th>Accion</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.listaCupos)
        {
        <tr>
            <td>@item.alumnoId</td>
            <td>@item.apellidos</td>
            <td>@item.nombres</td>
            <td>@item.semestre</td>
            <td>
                <a class="btn btn-primary btn-sm" href="/Admins/eliminar_cupo?id=@item.alumnoId">Eliminar</a>
            </td>
        </tr>
        }
    </tbody>
</table>

